<section class="main__feed">
    {{#each items}}
        <section class="main__feed__item" data-uuid="{{id}}">
            <img class="main__feed__item__img" src="{{ image.url }}">
            <h2 class="main__feed__item__h2">
            	<img class="main__feed__item__h2__avatar" src="{{ subject.avatar.url }}"> {{ subject.name }}
            </h2>
            <h1 class="main__feed__item__h1">
            	<a href="#appearance/{{id}}">{{title}}</a>
            </h1>
        </section>
    {{/each}}
</section>